#tbLayout {
    width: 520px;
    height: auto;
}

#tbLayout div {
    margin: 5px;
    width: 120px;
    height: 102px;
    float: left;
    text-align: center;
    font-size: small;
    word-wrap: break-word;
}

#posLayout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#btnLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: auto;
}

#btnLayout button {
    width: 150px;
    padding: 10px;
    margin: 5px;
}