#lgnGr {
    width: 100%;
    border-top: 2px solid #444444;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
#lgnGr th, #lgnGr td {
    border-bottom: 2px solid #444444;
    border-left: 2px solid #444444;
    padding: 10px;
    text-align: center;
}
#lgnGr th:first-child, #lgnGr td:first-child {
    border-left: none;
    font-weight: bold;
}
#lgnGr thead th {
    background-color: #0052A3;
    color: white;
}

#lgnGr tbody {
    background-color: #f2f2f2;
}